<% include header %>

<body>
        <div class="container jumbotron">
                <h1 class=" text-center py-4" style="font-size: 4.5em">todos</h1>
                <ul class="list-group">
                        <li class="list-group-item text-muted input1">
                                <form action="/post" method="POST">
                                        <input type="text" name="input"
                                                class="input w-100 w-100 h-auto text-center text-monospace"
                                                placeholder="Enter the to-do things here">
                                </form>
                        </li>
                        <%task.forEach(function(tasks){%>
                        <li id="<%=tasks._id%>" name="inputvalue" class="list-group-item text-muted test">
                                <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                        <input type="checkbox" name="check" id="<%=tasks._id%>"
                                                                class="complete" value="<%=tasks.name%>"> </div>
                                        </div>
                                        <input type="text" id="<%=tasks._id%>" name="update" class="update form-control"
                                                value="<%=tasks.name%>">
                                        <div class="input-group-append">
                                                <button class="  btn btn-outline-danger input-group-text remove"
                                                        data-id="<%=tasks._id%>">delete</button> </div>
                                </div>
                        </li>   
        <%})%>
        </ul>
        </div>
</body>
<% include footer %>
